* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Inter", cursive;
    color: black;
}

#main-bottom-text {
    width: 90%;
    margin: 0 auto 50px;
    display: flex;
    padding-top: 50px;

}

#main-bottom-text-center {

}

#main-bottom-text-center-text {
    display: flex;
    width: 50%;
    padding: 30px 0 50px 30px;
}

#main-bottom-text-center-text h1 {
    text-transform: uppercase;
    font-size: 40px;
    width: 250px;
}

#main-bottom-text-center-text p {
    width: 270px;
    padding-left: 30px;
}

#main-bottom-image-center img {
    width: 600px;
    height: 490px;
    display: block;
}

#image-1 img {
    width: 100%;
    height: 480px;
}

#container-2{
    display: flex;
    justify-content: space-evenly;
}

#image-2 {
    width: 30%;
    display: flex;
    flex-direction: column;
}

#image-2 img {
    width: 150px;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    padding: 30px 0 5px 30px;
}

#image-2 p {
    font-size: 25px;
    text-transform: uppercase;
    display: inline;
    text-align: center;
}

#image-3 {
    display: inline;
    position: relative;
}

#image-3 img {
    background-color: transparent;
    width: 170px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#image-3 p{
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 155px;
    left: 50px;
}

#main-bottom-center{
    background-color: #f2f2f2;
    padding-bottom: 50px;
}
#main-bottom-center-img-zone {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    min-height:500px;
}

#image-4 img{
    width: 505px;
    height: 300px;
    padding-left: 100px;
    padding-bottom: 40px;
}

#image-5{
    background-color: black;
    width: 50%;
    min-height: 490px;
}
#image-5 h1:nth-child(1){
    color: white;
    text-align: right;
    font-size: 9.375rem;
    padding-right: 40px;
}

#image-5 h1:nth-child(2){
    width: 70%;
    float: right;
    color: white;
    font-size: 3rem;
    text-align: right;
    padding-right: 40px;
}

#image-5 p{
    font-size: 1rem;
    color: white;
    width: 70%;
    float: right;
    text-align: right;
    padding-right: 40px;
    padding-top: 20px;
}